@page "/owners/create"

@inject HttpClient http
@inject NavigationManager navigationManager

<h3>New Owner</h3>

<OwnerForm ButtonText="Create Owner"
                 owner="@owner"
                 OnValidSubmit="@Submit" />

@code {
    Owner owner = new Owner();

    async Task Submit()
    {
        await http.PostAsJsonAsync("api/owners", owner);
        navigationManager.NavigateTo("owners");
    }
}
