<EditForm Model="@owner" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <p>
        <MatTextField Label="Name" @bind-Value="@owner.Name" FullWidth="true" ValidationDisabled="true" />
    </p>
    <div>
        <MatButton Type="submit">@ButtonText</MatButton>
    </div>
</EditForm>

@code {
    [Parameter] public Owner owner { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
