@page "/drivers/create"

@inject HttpClient http
@inject NavigationManager navigationManager

<h3>Create Driver</h3>

<DriverForm
      ButtonText="Create Driver"
      driver="@driver"
      OnValidSubmit="@Submit" />

@code {
    Driver driver = new Driver();

    async Task Submit()
    {
        await http.PostAsJsonAsync("api/drivers", driver);
        navigationManager.NavigateTo("drivers");
    }
}
