<div class="h2 text-white p-3">BBSC Racing</div>

<div>
    <ul class="nav flex-column">
        
        @foreach (var link in menu)
        {
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="@link.Item2">
                    <span class="@($"oi oi-{link.Item3}")" title="@link.Item3" aria-hidden="true" /> @link.Item1
                </NavLink>
            </li>
        }

    </ul>
</div>

@code {
    private List<Tuple<string, string, string>> menu;

    protected override void OnInitialized()
    {
        menu = new List<Tuple<string, string, string>>()
        {
            Tuple.Create("Current", "/", "flag"),
            Tuple.Create("Races", "races", "flag"),
            Tuple.Create("Drivers", "drivers", "cart"),
            Tuple.Create("Tracks", "tracks", "map-marker"),
            Tuple.Create("Owners", "owners", "person"),
        };
    }
}

